@model IEnumerable<JsonParseApp.Models.Liability>

<div class="col-md-6">
    <h6>Liabilities</h6>
    <table class="table table-borderless">
        <thead>
        <tr>
          
            <th scope="col">Amount</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var liability in Model)
        {
            <tr>
                
                <td>@Html.TextBoxFor(l=>liability.IndividualFinancialsAmount, new { @class = "form-control" })</td>

                <td>@Html.TextBoxFor(l=>liability.IndividualFinancialsDescription, new { @class = "form-control" })</td>
            </tr>

        }
        </tbody>
    </table>

</div>