
<div class="card" style="width: 100%">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">Raw Student Loan</h5>
        <table id="studentLoanTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <td>Education Program Data</td>
                    <td>Minor Profile</td>
                    <td>Loan Applicant Profile</td>
                    <td>Guarantors</td>
                    <td>Loan Configuration</td>
                </tr>
            </thead>
            <tbody>
                
               
            </tbody>
        </table>

    </div>
</div>