@model string

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">Raw Student Loan</h5>
        <p class="card-text">@Model</p>
        
    </div>
</div>