
<div class="card" style="width: 100%">
    <div class="card-header">
        <ul class="nav nav-tabs text-center py-4 card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">Student Loan Data</h5>
        

    </div>
</div>