@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Upload JSON file.</h1>
    <p class="lead">Select a valid Json file, any other file types will yield an invalid result.</p>
    
    <form id="jsonFileForm">
        <div class="form-group">
            <div class="custom-file">
                <!-- the name attribute must match the name of the parameter passed in the controller-->
                <input type="file" name="myFile" class="btn btn-success custom-file-input" id="fileUpload" required>
                <label class="custom-file-label" for="fileUpload"><i>Choose file...</i></label>
                <div class="invalid-feedback">Example invalid custom file feedback</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="submitJsonFileBtn">Process File</button>
    </form>
        
</div>

<div class="row">
    @Html.Partial("_JsonLoanData");
</div>
@section scripts
{
    <script>
        $(document).ready(function() {
            $("#fileUpload").on("change",
                function() {
                    var fileName = $(this).val();
                    //replace the "Choose a file" label

                    $(this).next('.custom-file-label').html(fileName);
                    var formdata = new FormData($('#jsonFileForm').get(0));
                    console.log(formdata);
                });

            //submit button 
            $("#jsonFileForm").on('submit',function(event) {
               
                // avoid to execute the actual submit of the form.
               
                event.preventDefault();
                var formData = new FormData($(this).get(0));
                //var dataF = new FormData($("#jsonFileForm").get(0));
                //var file = $('#fileUpload')[0].files[0];
                console.log(formData);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ProcessJsonFile","Home")',
                    data: formData,
                    dataType: 'json',
                    enctype: "multipart/form-data",
                    contentType: false,
                    processData: false,
                    success: function(response) {
                        alert(response.message);
                    }
                });
                
                //e.preventDefault();
            });

            

        });
    </script>
}